 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/deb16e2b/3860407/images/unknown.png");
  background-position: 50% 50%;
  min-height: 1218px;
}

.u-section-1 .u-image-1 {
  height: 398px;
  margin-top: 719px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 472px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 217px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 90px;
  }
} .u-section-2 {
  min-height: 2112px;
}

.u-section-2 .u-image-1 {
  height: 2232px;
  margin-top: -104px;
  margin-bottom: 0;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 297px;
  margin: -2086px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-3 {
  width: 570px;
  height: 298px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-4 {
  width: 570px;
  height: 297px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-5 {
  width: 570px;
  height: 298px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-6 {
  width: 570px;
  height: 302px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-image-7 {
  width: 570px;
  height: 297px;
  margin: 26px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -1901px calc(((100% - 1140px) / 2) + 78px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 286px calc(((100% - 1140px) / 2) + 90px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 282px calc(((100% - 1140px) / 2) + 12px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 283px calc(((100% - 1140px) / 2) + 354px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 295px calc(((100% - 1140px) / 2) + 354px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 292px calc(((100% - 1140px) / 2) + 315px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -1604px calc(((100% - 1140px) / 2) + 107px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 236px calc(((100% - 1140px) / 2) + 107px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 297px calc(((100% - 1140px) / 2) + 78px) 0 calc(((100% - 1140px) / 2) + 613px);
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 232px calc(((100% - 1140px) / 2) + 107px) 0 calc(((100% - 1140px) / 2) + 613px);
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 244px calc(((100% - 1140px) / 2) + 107px) 0 calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 218px calc(((100% - 1140px) / 2) + 109px) 60px calc(((100% - 1140px) / 2) + 612px);
}

.u-section-2 .u-line-1 {
  width: 270px;
  position: absolute;
  top: 430px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

.u-section-2 .u-line-2 {
  width: 270px;
  position: absolute;
  top: 105px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

.u-section-2 .u-line-3 {
  width: 270px;
  position: absolute;
  top: 750px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

.u-section-2 .u-line-4 {
  width: 270px;
  position: absolute;
  top: 1071px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

.u-section-2 .u-line-5 {
  width: 270px;
  position: absolute;
  top: 1404px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

.u-section-2 .u-line-6 {
  width: 270px;
  position: absolute;
  top: 1735px;
  left: auto;
  transform-origin: left center 0px;
  right: 308px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-6 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-7 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 12px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 276px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 276px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 940px) / 2) + 237px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 940px) / 2) + 29px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 29px);
    margin-left: calc(((100% - 940px) / 2) + 490px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 491px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 940px) / 2) + 7px);
    margin-left: calc(((100% - 940px) / 2) + 513px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 940px) / 2) + 7px);
    margin-left: calc(((100% - 940px) / 2) + 512px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 940px) / 2) + 9px);
    margin-left: calc(((100% - 940px) / 2) + 512px);
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
  }

  .u-section-2 .u-line-2 {
    margin-top: 0;
  }

  .u-section-2 .u-line-3 {
    margin-top: 0;
  }

  .u-section-2 .u-line-4 {
    margin-top: 0;
  }

  .u-section-2 .u-line-5 {
    margin-top: 0;
  }

  .u-section-2 .u-line-6 {
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 12px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 276px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 276px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 237px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 29px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 29px);
    margin-left: calc(((100% - 720px) / 2) + 270px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 271px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 300px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2) + 2px);
    margin-left: calc(((100% - 720px) / 2) + 299px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2016px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 281px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 282px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 281px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-5 {
    width: 540px;
    height: 282px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-6 {
    width: 540px;
    height: 286px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-7 {
    width: 540px;
    height: 281px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: -1885px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 12px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 276px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 276px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 237px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 29px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 540px) / 2) + 29px);
    margin-left: calc(((100% - 540px) / 2) + 90px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 91px);
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 120px);
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 119px);
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 540px) / 2) + 2px);
    margin-left: calc(((100% - 540px) / 2) + 119px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1390px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 177px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 178px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 177px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-5 {
    width: 340px;
    height: 178px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 180px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 177px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-top: -1781px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 166px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 166px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 127px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-10 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-12 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-3 .u-sheet-1 {
  min-height: 13px;
}